.navbar-top {
  background-color: $white;
  box-shadow: none;

  .brand-logo {
    @media #{$large-and-up} {
      margin-left: 3rem;
    }

    img {
      height: 64px;
    }
  }

  .button-collapse {
    color: $color-fonts;
  }

  .navbar-top {
    width: 85%;

    li {
      text-align: center;
      width: 16%;

      a {
        color: $color-fonts;
        font-size: 1.15rem;
        text-transform: uppercase;

        &:hover {
          background-color: $primary-color;
          color: $white;

          button {
            color: $white !important;
          }
        }

        button:hover,
        button:active {
          color: $white !important;
        }
      }
    }

    .dropdown-content {
      background-color: transparent;
      li {
        background-color: rgba(0, 121, 192, .5);
        width: 100%;

        a {
          color: $white;
          &:hover {
            background-color: rgba(0, 121, 192, .9);
          }
        }
      }

      &.active {
        left: 15% !important;
      }

      .divider {
        background-color: $white;
      }
    }
  }

  .side-nav {
    li a {
      color: $color-fonts;
      text-transform: uppercase;
    }
  }
}

