.navbar-top {
  background-color: $white;
  box-shadow: none;

  .brand-logo {
    @media #{$large-and-up} {
      margin-left: 3rem;
    }

    img {
      height: $height-navbar;
    }
  }

  .button-collapse {
    color: $color-fonts;
  }

  .navbar-top {
    width: 82%;
    @media #{$extra-large-and-up} {
      width: 85%;
    }

    li {
      text-align: center;
      @media #{$large-and-up} {
        width: 16%;
      }

      &:hover {
        background-color: $primary-color;

        & a {
          color: $white;

          button {
            color: $white !important;
          }
        }
      }

      a {
        color: $color-fonts;
        display: block;
        padding: 0;
        text-transform: uppercase;
        @media #{$extra-large-and-up} {
          font-size: 1.15rem;
        }

        button {
          @media #{$extra-large-and-up} {
            font-size: 1.15rem;
          }
        }

        button:active,
        button:hover {
          color: $white !important;
        }
      }
    }

    .dropdown-content {
      background-color: transparent;
      li {
        background-color: rgba(0, 121, 192, .5);
        width: 175px;

        a {
          color: $white;
          line-height: 50px;
          &:hover {
            background-color: rgba(0, 121, 192, .9);
          }
        }
      }

      &.active {
        left: 19.75% !important;
        @media #{$extra-large-and-up} {
          left: 15% !important;
        }
      }

      .divider {
        background-color: $white;
      }
    }
  }

  .side-nav {
    li {
      &.navbar-top-item {
        height: $height-side-nav;
      }

      &.divider {
        margin: 0;
      }

      a {
        color: $color-fonts;
        text-transform: uppercase;
      }
    }

    button {
      height: $height-side-nav !important;
      line-height: $height-side-nav !important;
      text-align: left;
      width: 100%;

      .material-icons {
        height: $height-side-nav;
        line-height: $height-side-nav;
      }
    }

    .dropdown-content {
      top: $height-side-nav !important;
    }
  }
}

