.menu__flotante{
	position: fixed;
	top: 200px;
	z-index: 1000;
	background-image: url('../images/background-menu-flotante.png');
	background-repeat: no-repeat;
	&__contenedor{
		>.menu__flotante__item{
			margin-top: 1px;
			&:first-child{
				margin-top: 0;
			}
			>a{
				display: block;
				height: 38px;
				width: 250px;
				padding-left: 30px;
				line-height: 38px;
				color: white;
				box-sizing: border-box;
				// background-color: rgba(0,0,0,0.2);
				transition: all .5s ease;
				font-size: 85%;
				>span{
					text-transform: uppercase;
				}
				&:hover{
					// background-color: rgba(0,0,0,0.5);
					color: rgba(0,0,0,0.5);
				}
			}
		}
	}
}