.nav__responsive{
  display: block;
  width: 100%;
  left: 0;
  @include respond-to(lg) {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    height: $height-navbar;
  }
  >li{
    width: 100%;
    @include respond-to(lg) {
      width: (100%/6);
    }
    >a{
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-weight: 300;
      position: relative;
      text-align: center;
      transition: all 0.3s ease;
      line-height: $height-navbar;
      box-sizing: border-box;
      &:hover{
        background-color: $color-primary;
        color: white;
        transition: all 0.5s ease;
      }
      &:before{
        content: none;
      }
      @include respond-to(lg) {
        &:before {
          content: "";
          display: block;
          width: 2px;
          height: 60%;
          top: 20%;
          background-color: darkgrey;
          position: absolute;
        }
      }
    }
    &:first-child a:before {
      display: none;
    }
  }
}

.header{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  // padding: 2rem 1rem;
  // padding-left: 0;
  position: fixed;
  height: $height-navbar;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  z-index: 1000;
  transition: all 0.3s ease;
  @include respond-to(xl) {
    padding-left: 1rem;
  }
  &__picture{
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
    @include respond-to(xl) {
      width: 18%;
      transition: all 0.3s ease;
    }
    >img{
      transition: all 0.3s ease;
      width: 50%;
    }
  }
  &__nav{
    width: 100%;
    text-align: center;
    @include respond-to(xl) {
      width: 82%;
      height: $height-navbar;
    }
    &--responsive{
      @extend .nav__responsive;
    }
  }
  &--little{
    height: $height-navbar-little;
    transition: all 0.7s ease;
    >picture.header__picture{
      >img{
        width: 15%;
        transition: all 0.3s ease;
        @include respond-to(xl) {
          width: 40%;
        }
      }
    }
    >nav.header__nav{
      height: $height-navbar-little;
      >ul.first__level{
        >li.item{
          >a{
            font-size: 90%;
            height: $height-navbar-little;
            padding: 0;
            line-height: $height-navbar-little;
            &:before{
              height: 44%;
              top: 28%;
            }
          }
        }
      }
    }
  }
}
ul.dropdown.second__level,
ul.dropdown.third__level{
  >li.item{
    border-top: 1px solid $color-hover;
    >a{
      font-size: 1rem;
      height: 3rem;
      padding: 0 0 0 0.5rem;
      line-height: 3rem;
      text-align: left;
      background-color: $color-primary;
      color: white;
      display: block;
      &:hover{
        transition: all 0.3s ease;
        background-color: $color-hover;
      }
    }
  }
}
ul.dropdown.second__level{
  >li.item{
    &:last-child{
      >a:after{
              content: '\f0da';
              margin-left: 3rem;
            }
    }
  }
}
ul.dropdown.third__level{
  position: relative;
  left: 183px;
  top: -3rem;
}
