.menu__flotante{
	position: fixed;
	top: 200px;
	z-index: 1000;
	&__contenedor{
		>.menu__flotante__item{
			margin-top: 1px;
			&:first-child{
				margin-top: 0;
			}
			>a{
				display: block;
				height: 40px;
				width: 150px;
				padding: 0 10px;
				line-height: 40px;
				color: white;
				box-sizing: border-box;
				background-color: rgba(0,0,0,0.2);
				transition: all .5s ease;
				font-size: 90%;
				>span{
					text-transform: uppercase;
				}
				&:hover{
					background-color: rgba(0,0,0,0.5);
				}
			}
		}
	}
}