.header{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  // padding: 2rem 1rem;
  // padding-left: 0;
  position: fixed;
  height: $height-navbar;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  z-index: 1000;
  transition: all 0.3s ease;
  @include respond-to(xl) {
    padding-left: 1rem;
  }
  &__picture{
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
    @include respond-to(xl) {
      width: 18%;
      transition: all 0.3s ease;
    }
    >a>img{
      transition: all 0.3s ease;
    }
  }
  &__nav{
    width: 100%;
    text-align: center;
    @include respond-to(xl) {
      width: 82%;
      height: $height-navbar;
    }
    &--responsive{
      @extend .nav__responsive;
      >li>a{
        font-size: 1.2rem;
        @include respond-to(lg) {
          font-size: 1.1rem;
        }
      }
      >li.item{
          &:first-child{
            >a:after{
              content: '\f078';
              margin-left: 5px;
            }
          }
        }
    }
  }
  &--little{
    height: $height-navbar-little;
    transition: all 0.7s ease;
    >picture.header__picture{
      >a>img{
        width: 15%;
        transition: all 0.3s ease;
        @include respond-to(xl) {
          width: 70%;
        }
      }
    }
    >nav.header__nav{
      height: $height-navbar-little;
      >ul.first__level{
        >li.item{
          >a{
            font-size: 90%;
            height: $height-navbar-little;
            padding: 0;
            line-height: $height-navbar-little;
            &:before{
              height: 44%;
              top: 28%;
            }
          }
        }
      }
    }
  }
}
ul.dropdown.second__level,
ul.dropdown.third__level{
  >li.item{
    border-top: 1px solid $color-hover;
    // &:first-child{
    //   border-top: none;
    // }
    >a{
      font-size: 1rem;
      height: 3rem;
      padding: 0 0 0 0.5rem;
      line-height: 3rem;
      text-align: left;
      background-color: $color-primary;
      color: white;
      display: block;
      &:hover{
        transition: all 0.3s ease;
        background-color: $color-hover;
      }
    }
  }
}
ul.dropdown.second__level{
  // margin-top: 42px;
  >li.item{
    &:last-child{
      >a:after{
              content: '\f054';
              margin-left: 3rem;
            }
    }
  }
}
ul.dropdown.third__level{
  position: relative;
  left: 180px;
  top: -3rem;
}
