.nav__responsive{
  display: block;
  width: 100%;
  left: 0;
  @include respond-to(md) {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    height: $height-navbar;
  }
  >li{
    width: 100%;
    background-color: $background-color-topnav;
    border-top: 1px solid rgba(0,0,0,0.5);
    color: white;
    &:first-child{
      border-top: none;
    }
    @include respond-to(md) {
      width: (100%/6);
    }
    @include respond-to(lg) {
      background-color: transparent;
      border-top: none;
    }
    >a{
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-weight: 300;
      position: relative;
      text-align: center;
      @include transition-all(0.3s)
      line-height: $height-navbar;
      box-sizing: border-box;
      color: white;
      @include respond-to(md) {
        font-size: 80%;
      }
      @include respond-to(lg) {
        color: rgba(0,0,0,0.5);
        font-size: 90%;
      }
      @include respond-to(xl) {
      }
      &:hover{
        background-color: $color-primary;
        @include transition-all(0.5s)
        color: white;
      }
      &:before{
        content: none;
      }
      @include respond-to(md) {
        &:before {
          content: "";
          display: block;
          width: 2px;
          height: 60%;
          top: 20%;
          background-color: darkgrey;
          position: absolute;
        }
      }
    }
    &:first-child a:before {
      display: none;
    }
  }
}

.header{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: fixed;
  height: $height-navbar;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  z-index: 1000;
  @include transition-all(0.3s)
  @include respond-to(lg) {
    padding-left: 1rem;
  }
  &__picture{
    width: 50%;
    box-sizing: border-box;
    @include transition-all(0.3s)
    text-align: center;
    height: $height-navbar;
    @include respond-to(md) {
      width: 100%;
      text-align: center;
    }
    @include respond-to(lg) {
      width: 10%;
      @include transition-all(0.3s)
    }
    >img{
      margin-left: 10%;
      @include transition-all(0.3s)
      width: 60%;
      @media screen and (min-width: 415px) { 
        width: 45%;
      }
      @media screen and (min-width: 575px) { 
        width: 37%;
      }
      @media screen and (min-width: 728px) { 
        width: 35%;
      }
      @include respond-to(md) {
        @include transition-all(0.3s)
        margin: 0;
        width: 14%;
      }
      @media screen and (min-width: 970px) { 
        width: 13%;
      }
      @include respond-to(lg) {
        width: 100%;
      }
    }
  }
  &__boton{
    box-sizing: border-box;
    text-align: center;
    width: 50%;
    >button{
        background-color: transparent;
        outline: none;
        >span{
        >i{
          &.fa-bars{
            &:hover{
              color: grey;
            }
          }
          &.fa-window-close-o{
            color: #dd1616;
            &:hover{
              color: #bf3737;
            }
          }
        }
      }
    }
    @include respond-to(md) {
      display: none;
    }
  }
  &__nav{
    width: 100%;
    text-align: center;
    display: none;
    @include respond-to(md) {
      display: block;
    }
    @include respond-to(lg) {
      width: 90%;
      height: $height-navbar;
    }
    &--responsive{
      @extend .nav__responsive;
    }
  }
  &--little{
    height: $height-navbar-little;
    transition: all 0.7s ease;
    >picture.header__picture{
      height: $height-navbar-little;
      >img{
        width: 14%;
        transition: all 0.3s ease;
        @include respond-to(lg) {
          width: 80%;
        }
      }
    }
    >nav.header__nav{
      height: $height-navbar-little;
      >ul.first__level{
        height: $height-navbar-little;
        >li.item{
          // background-color: $background-color-topnav;
          >a{
            font-size: 90%;
            height: $height-navbar-little;
            padding: 0;
            line-height: $height-navbar-little;
            color: rgba(0,0,0,0.5);
            &:before{
              height: 44%;
              top: 28%;
            }
            &:hover{
              color: white;
            }
          }
        }
      }
    }
  }
}
ul.dropdown.second__level,
ul.dropdown.third__level{
  >li.item{
    border-top: 1px solid $color-hover;
    >a{
      font-size: 1rem;
      height: 3rem;
      padding: 0 0 0 0.5rem;
      line-height: 3rem;
      text-align: left;
      background-color: $color-primary;
      color: white;
      display: block;
      &:hover{
        @include transition-all(0.3s)
        background-color: $color-hover;
      }
    }
  }
}
ul.dropdown.second__level{
  >li.item{
    &:last-child{
      >a:after{
              content: '\f0da';
              margin-left: 3rem;
            }
    }
  }
}
ul.dropdown.third__level{
  position: relative;
  left: 183px;
  top: -3rem;
}
