.header{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 2rem 1rem;
  padding-left: 0;
  position: fixed;
  height: 10rem;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  z-index: 1000;
  transition: all 1.2s ease;
  @include respond-to(xl) {
    padding-left: 1rem;
  }
  &__picture{
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
    @include respond-to(xl) {
      width: 15%;
      transition: all 0.3s ease;
    }
    >a>img{
      transition: all 0.7s ease;
    }
  }
  &__nav{
    width: 100%;
    text-align: center;
    @include respond-to(xl) {
      width: 85%;
    }
    &--responsive{
      @extend .nav__responsive;
      >li>a{
        font-size: 1.2rem;
        @include respond-to(lg) {
          font-size: 1.1rem;
        }
      }
    }
  }
  &--little{
    height: 5rem;
    transition: all 1.2s ease;
    >picture.header__picture{
      >a>img{
        width: 80%;
        transition: all 0.7s ease;
      }
    }
    >nav.header__nav{
      >ul>li>a{
        font-size: 90%;
        padding: 1.5rem 0;
        &:before{
          height: 44%;
          top: 28%;
        }
      }
    }
  }
}
