footer{
  text-align: center;
  &.footer{
    &__alenta{
      background-color: white;
      padding: 2rem 0;
      >picture{
        &:first-child{
          margin-right: 3rem;
        }
      }
    }
    &__section{
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1;
      height: 180px;
      color: #fff;
      width: 100%;
      @include respond-to(md) {
        position: absolute;
        top: 529px;
        height: 120px;
      }
      >.footer__container{
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        justify-content: center;
        @include respond-to(md) {
          align-items: center;
        }
        >.footer__item{
          &:nth-child(1){
            display: none;
            @include respond-to(md) {
              width: 20%;
            }
          }
          &:nth-child(2){
            display: none;
            @include respond-to(md) {
              border: none;
              display: block;
              width: 30%;
            }
          }
          &:nth-child(3){
            border-left: none;
            @include respond-to(md) {
                border-left: 1px solid grey;
                margin-left: 1rem;
            }
          }
          &:nth-child(4){
            border-left: none;
            border-top: 1px solid grey;
            @include respond-to(sm) {
                border-top: none;
                border-left: 1px solid grey;
            }
          }
          &__contact{
            display: flex;
            flex-flow: row wrap;
            border-left: 1px solid grey;
            align-items: center;
            width: 100%;
            box-sizing: border-box;
            @include respond-to(sm) {
              width: 50%;
            }
            @include respond-to(md) {
              width: (100%/4);
            }
            >i{
              color: $color-primary;
              width: 20%;
            }
            >.footer__item__title{
              width: 80%;
              text-align: left;
              >h3{
                font-size: 1.2rem;
                margin-bottom: 5px;
              }
              >address{
                line-height: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
}
