footer{
  text-align: center;
  background-color: white;
  >picture{
    &:first-child{
      margin-right: 3rem;
    }
  }
  &.footer{
  	&__section{
  		background-color: rgba(0, 0, 0, 0.7);
  		position: absolute;
		z-index: 1;
		top: 480px;
		height: 120px;
		color: #fff;
		width: 100%;
		>.footer__container{
			display: flex;
			flex-flow: row wrap;
			>.footer__item{
				width: 25%;
			}
		}
	}
	}
}
