// Sección Contacto Alenta
.contactenos {
  padding: 0 !important;

  .contacto-banner {
    img {
      margin-bottom: 1rem;
      width: 100%;
    }
  }

  .contenido__titulo {
    margin: 0;
    text-align: center;
  }

  .contenido__texto-formulario {
    border-top: 0 !important;
    width: 100% !important;
  }
}
address.alenta__address{
  color: $color-fonts;
  text-align: center;
  font-weight: 200;
  line-height: 1.75rem;
  padding: 1rem 0;
  background-color: $background-color-container;
  // border-top: 2px solid $color-primary;
  // border-bottom: 2px solid $color-primary;
}
