.contenido{
  &__alenta{}
  &__seccion{
    // height: 100px;
    padding: 3rem;
    box-sizing: border-box;
    &.acerca,
    &.proyecto,
    &.etapa2,
    &.promotores,
    {
      background-color: #F4F3F2;
    }
  }
  &__titulo{
    margin: 0 0 2rem 0;
    color: $color-primary;
    text-transform: uppercase;
    font-size: 2rem;
    & span{
      text-transform: lowercase;
    }
  }
  &__container{
    display: flex;
    flex-flow: row wrap;
  }
  &__texto{
    &:nth-child(odd){
      width: 100%;
      border-top: 2px solid $color-primary;
      padding-top: 2rem;
      text-align: center;
      @include respond-to(lg) {
        width: 44%;
      }
    }
    &:nth-child(1){
      order: 2;
      @include respond-to(lg) {
        order: 1;
      }
    }
    &:nth-child(2){
      display: none;
      width: 6%;
      text-align: center;
      >img{
        position: relative;
        top: -40px;
      }
      @include respond-to(lg) {
        order: 2;
        display: block;
      }
    }
    &:nth-child(3){
      order: 1;
      >img{
        width: 100%;
        @include respond-to(md) {
          width: 672px;
        }
        @include respond-to(lg) {
          width: 100%;
        }
        @include respond-to(xl) {
          width: 521px;
        }
      }
      @include respond-to(lg) {
        order: 3;
      }
    }
    & h3{
      color: lightblue;
      text-align: left;
      font-weight: 200;
      margin: 1.25rem 0;
      font-size: 1.5rem;
    }
    & p,
    & ul,
    & ul>li{
      color: $color-fonts;
      text-align: left;
      font-weight: 200;
      line-height: 1.75rem;
    }
    >img.etapa1{
      padding: 1rem;
      border: 1px solid $color-primary;
      box-sizing: border-box;
      height: 362px;
    }
  }
  &__button{
    display: none;
    @include respond-to(lg) {
      display: block;
      background-color: $color-primary;
      color: rgb(105,210,239);
      width: 64px;
      position: relative;
      top: -380px;
      left: 96%;
      border-radius: 10px;
      transition: all 0.3s ease;
      &:hover{
        background-color: rgb(105,210,239);
        transition: all 0.3s ease;
        span,
        i{
          color: $color-primary;
        }
      }
      &:active,
      &:visited{
        color: rgb(105,210,239);
      }
      >span{
        position: relative;
        top: 12px;
        font-size: 80%;
        display: block;
        text-align: center;
      }
      >i.fa.fa-caret-down,
      >i.fa.fa-caret-up{
        display: block;
        text-align: center;
      }
    }
    &__localizacion{
      top: -560px;
    }
    &__proyecto{
      top: -510px;
    }
    &__etapa1{
      top: -720px;
    }
    &__etapa2{
      top: -660px;
    }
    &__etapa3{
      top: -890px;
    }
    &__promotores{
      top: -200px;
    }
    &__contactanos{
      top: -630px;
    }
  }
}
