// Sección Contacto
.contacto {
  margin-top: 0;
  >.contenido__container {
    height: 1300px;
      @include respond-to(lg) {
          height: 375px;
      }
    >.contenido__texto {
      &:nth-child(1){
        border-top: none;
        padding-top: 0;
      }
      &-formulario {
        .formulario {
          padding: 0;
        }
      }
    }
  }
  .contacto-banner {
    img {
      margin-top: $height-navbar;
    }
  }
  footer.footer__section {
    top: 850px;
  }
}
