.contactenos {
  margin-top: 50px;
  padding-bottom: 0 !important;
  .contenido__texto-formulario {
    border-top: 0 !important;
    width: 100% !important;
  }
}
.formulario {
  background-color: $background-color-container;
  margin: 3rem;
  padding: 2rem;
  margin-top: 0;
  &__titulo{
    text-transform: uppercase;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  &__titulo,
  &__texto{
    color: white !important;
    text-align: center !important;
    width: 90%;
    margin: 0 auto;
  }
  &__texto.politicas{
    color: $color-fonts !important;
    font-size: 80%;
    line-height: normal;
  }
  &.formulario-slider {
    background-color: transparent;
  }
}
address.alenta__address{
  color: $color-fonts;
  text-align: center;
  font-weight: 200;
  line-height: 1.75rem;
  padding: 1rem 0;
  background-color: $background-color-container;
  // border-top: 2px solid $color-primary;
  // border-bottom: 2px solid $color-primary;
}
