.contactenos{
  margin-top: 50px;
  background-color: #F4F3F2;
  padding-bottom: 0 !important;
}
.formulario{
  background-color: $color-primary;
  margin: 3rem;
  padding: 2rem;
  &__titulo{
    text-transform: uppercase;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  &__titulo,
  &__texto{
    color: white !important;
    text-align: center !important;
    width: 90%;
    margin: 0 auto;
  }
  &__texto.politicas{
    font-size: 80%;
    line-height: normal;
  }
  & input[type="email"],
  & input[type="text"],
  & textarea {
    background-color: $color-primary;
    padding: 0.5rem;
    width: 90%;
    height: 100%;
    margin: .25rem;
    color: white !important;
    font-weight: bold;
    border: 1px solid white;
  }
  & button[type="submit"] {
    height: 100%;
    line-height: 50px;
    width: 150px;
    margin: .25rem .25rem .5rem .25rem;
    color: $color-primary;
    background-color: white;
    outline: none;
    border: none;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}
address{
  color: $color-fonts;
  text-align: center;
  font-weight: 200;
  line-height: 1.75rem;
  padding: 1rem 0;
  background-color: #F4F3F2;
  border-top: 2px solid $color-primary;
  border-bottom: 2px solid $color-primary;
}
