// Sección Contacto
.contacto {
  margin-top: 0;
  >.contenido__container {
    background-color: $background-color-container !important;
    height: 900px;
      
    >.contenido__texto {
      &:nth-child(1){
        border-top: none;
        padding-top: 0;
      }
      &-formulario {
        .formulario {
          padding: 0;
        }
      }
    }
  }
  .contacto-banner {
    width: 100%;
    img {
      margin-top: $height-navbar;
    }
  }
}

.footer_contacto {
  top: 980px !important;
}
