.seccion__consultorios,
.seccion__areas,
.seccion__cirugia,
.seccion__hotel,
.seccion__contacto{
  padding-top: $height-navbar;
  background-color: #F4F3F2;
  >section.contenido__seccion{
    >.contenido__container{
      height: 600px;
      @include respond-to(sm) {
          height: 650px;
      }
      @include respond-to(mm) {
          height: 700px;
      }
      @include respond-to(lg) {
          height: 369px;
      }
    }
  }
}
footer.footer__section.dinamic{
  position: static;
}

.seccion__contacto{
  >h2.contenido__titulo{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 4rem;
  }
  >.contenido__container{
    height: 1300px;
      @include respond-to(lg) {
          height: 700px;
      }
  }
}

.seccion__areas{
  padding-bottom: 0;
  >section.contenido__seccion{
    >.contenido__container{
      height: 700px;
      @include respond-to(sm) {
          height: 775px;
      }
      @include respond-to(mm) {
          height: 830px;
      }
      @include respond-to(md) {
          height: 900px;
      }
      @include respond-to(lg) {
          height: 369px;
      }
    }
  }
}

.seccion__contacto{
  margin-top: 0;
  padding-left: 0;
  >.contenido__container{
    >.contenido__texto{
      >h3,
      >p{
        padding-left: 3rem;
      }
    }
  }
  >footer.footer__section{
    top: 850px;
  }
}
