.seccion__consultorios,
.seccion__areas,
.seccion__cirugia,
.seccion__hotel,
.seccion__contacto{
  padding-top: $height-navbar;
  background-color: $background-color-container;
  >section.contenido__seccion{
    >.contenido__container{
      height: 600px;
      @include respond-to(sm) {
          height: 650px;
      }
      @include respond-to(mm) {
          height: 700px;
      }
      @include respond-to(lg) {
          height: 369px;
      }
    }
  }
}
footer.footer__section.dinamic{
  // position: static;
}

.seccion__areas{
  padding-bottom: 0;
  >section.contenido__seccion{
    >.contenido__container{
      height: 700px;
      @include respond-to(sm) {
          height: 775px;
      }
      @include respond-to(mm) {
          height: 830px;
      }
      @include respond-to(md) {
          height: 900px;
      }
      @include respond-to(lg) {
          height: 369px;
      }
    }
  }
}
