.localizacion{
  >.contenido__container {
    >.contenido__texto {
      >p{
        margin-top: 1rem;
        margin-bottom: 1rem;
        >img{
          width: 5%;
        }
      }
      >ul{
        margin-left: 1rem;
        >li{
          >img{
            width: 3%;
          }
        }
      }
      &:nth-child(1){
          order: 3;
      }
      &:nth-child(3){
        order: 1;
        img.imagen-localizacion {
          @include respond-to(xl) {
            width: 100%;
          }
        }
      }
      &.localizacion-mapa {
        position: relative;
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        img {
          width: 100%;
        }

        .localizacion_direccion {
          font-size: 1.25rem;
          margin: 2rem 0;
          strong {
            text-transform: uppercase;
          }
          .horario {
            text-align: center;
          }
        }
      }

      >.localizacion__items {
        background-color: white;
        left: 3%;
        padding: 1rem;
        position: absolute;
        top: 45%;
        width: 30%;

        >.localizacion__item {
          width: 100%;
          &:before{
            border-top: 5px solid;
            content: '';
            display: inline-block;
            height: 5px;
            width: 25%;
            margin-right: 0.75rem;
          }
          &:nth-child(1){
            &:before{color: lightgreen;}
          }
          &:nth-child(2){
            &:before{color: red;}
          }
          &:nth-child(3){
            &:before{color: rgb(247,44,237);}
          }
          &:nth-child(4){
            &:before{color: yellow;}
          }
          &:nth-child(5){
            &:before {
              border-top-style: dotted; 
              color: lightblue;
            }
          }
        }
      }
    }
  }
}
