.text{
	position: absolute;
	top: 35px;
	padding-left: 20rem;
	width: 600px;
	height: 150px;
	padding: 0 2rem;
	box-sizing: border-box;
	vertical-align: middle;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.text--right{
	//right: 0;  // animation: "fade"
	margin-left: 3.95%; // animation: 'slide',
	text-align: right;
	background: linear-gradient(to left, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 95%);
}
.text--left{
	// left: 0; // animation: 'fade',
	text-align: left;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 95%);
}

.flexslider{
	&__principal{
		border: none;
		top: $height-navbar;
		margin-bottom: $height-navbar;
	}
	&__item{
		>picture{
			height: 600px;
			>img.flexslider__image{
				height: 600px;
			}
			>.flexslider__text{
				@extend .text;
				>h3{
					font-size: 2rem;
					font-weight: bold;
				}
				>p{
					font-size: 1.3rem;
					line-height: 1.5rem;
					margin-top: 8px;
					letter-spacing: 0.3px;
				}
			}
		}
	}
	&__mini{
		margin: 0;
		&__item{}
		&__picture{
			width: 200px;
		}
		&__image{}
	}
}