.text{
	position: absolute;
	top: 20px;
	padding-left: 20rem;
	width: 600px;
	height: 150px;
	padding: 0 2rem;
	box-sizing: border-box;
	vertical-align: middle;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.text--right{
	//right: 0;  // animation: "fade"
	margin-left: 3.95%; // animation: 'slide',
	text-align: right;
	background: linear-gradient(to left, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 95%);
}
.text--left{
	// left: 0; // animation: 'fade',
	text-align: left;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 95%);
}

.flexslider{
	&__principal{
		top: 160px;
		margin-bottom: 160px;
	}
	&__item{
		>picture{
			height: 600px;
			>img.flexslider__image{
				height: 600px;
			}
			>.flexslider__text{
				@extend .text;
				>h3{
					font-size: 2rem;
					font-weight: bold;
				}
				>p{
					font-size: 1.3rem;
					line-height: 1.5rem;
					margin-top: 8px;
					letter-spacing: 0.3px;
				}
			}
			>form.flexslider__form{
				@extend .text;
				top: 320px;
				height: 0;
				color: grey;
				margin-left: 4%;
				& input[type="email"],
				& input[type="text"],
				& textarea {
					padding: 0.3rem;
					width: 60%;
					margin: .10rem;
					border: 1px solid grey;
					border-radius: 5px;
					font-size: 0.9rem;
				}
				& button[type="submit"] {
					height: 100%;
					width: 150px;
					color: white;
					background-color: $color-primary;
					outline: none;
					border: none;
					margin-top: 0.5rem;
					line-height: 1.5rem;
				}
			}
		}
	}
}