.formulario {
  &-container {
    background-color: rgba(0, 0, 0, .7);
    padding: 16px;
    position: absolute;
    right: 80px;
    top: 220px;
    width: 400px;
    z-index: 2;
  }
  &-slide {
    .input-field {
      margin-top: 0;

      input,
      textarea {
        color: $white;
        height: 36px;
        margin-bottom: 8px;
      }

      textarea  {
        padding: 0;
      }
    }
  }
}

/*form.flexslider__form {
  @extend .text;
  background-color: rgba(0, 0, 0, .7);
  height: 350px !important;
  width: 400px !important;
  @include respond-to(lg) {
    height: 0;
    top: 220px !important;
    color: black !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    margin-left: 3.6%;
    @include transition-all(.3s);
  }
  @include respond-to(xl) {
    margin-left: 4.2%;
  }

  & input[type="email"],
  & input[type="text"],
  & input[type="tel"],
  & textarea {
    box-sizing: border-box;
    padding: 0.3rem;
    width: 100%;
    margin: .10rem;
    border: 1px solid grey;
    font-size: 0.9rem;
  }
  & button[type="submit"] {
    width: 50%;
    color: white;
    background-color: $color-secondary;
    outline: none;
    border: none;
    margin: 1rem auto;
    padding: 5px;
    line-height: 1.5rem;
    &:hover{
      background-color: $color-hover;
    }
  }
  ::-webkit-input-placeholder {
     color: #302b2b;
  }

  :-moz-placeholder {
     color: #302b2b;
  }

  ::-moz-placeholder {
     color: #302b2b;
  }

  :-ms-input-placeholder {
     color: #302b2b;
  }
  .formulario-slider-contacto {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 85%;
    font-weight: 300;

    &-item {
      width: 46%;
      box-sizing: border-box;
      line-height: 1rem;
      h3 {
        font-weight: bold;
      }
      &:first-child {
        border-right: 1px solid $color-secondary;
      }
    }
  }
}
*/
