body {
  font-size: 16px;
}

a {
  color: darkgrey;
  text-decoration: none;

  &:hover,
  &:visited,
  &:active{
    color: $color-fonts;
  }
}

.enlace__activo {
  background-color: $color-primary;
  color: white !important;
}

.hide {
  display: none;
}
