body{
  font-size: 16px;
  font-family: $font-awesome;
}
a{
  text-decoration: none;
  color: darkgrey;
  &:hover,
  &:visited,
  &:active{
    color: $color-fonts;
  }
}

.enlace__activo{
  background-color: $color-primary;
  color: white !important;
}

#alenta,
#consultorios,
#areas,
#cirugias,
#hotel,
#contactenos,
#localizacion,
#proyecto,
#etapa1,
#etapa2,
#etapa3,
#promotores,
#contactenos,
#contacto{
  box-sizing: border-box;
  position: relative;
  top: -5rem;
  height: 0;
  margin: 0;
  padding: 0;
}

.hide{
  display: none;
}

.nav__responsive{
  display: block;
  width: 100%;
  left: 0;
  @include respond-to(lg) {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    height: 5rem;
  }
  >li{
    width: 100%;
    @include respond-to(lg) {
      width: (100%/6);
    }
    >a{
      display: block;
      width: 100%;
      padding: 2rem 0;
      text-transform: uppercase;
      font-weight: 300;
      position: relative;
      text-align: center;
      transition: all 0.3s ease;
      &:hover{
        background-color: $color-primary;
        color: white;
        transition: all 0.5s ease;
      }
      &:before{
        content: none;
      }
      @include respond-to(lg) {
        &:before {
          content: "";
          display: block;
          width: 2px;
          height: 60%;
          top: 20%;
          background-color: darkgrey;
          position: absolute;
        }
      }
    }
    &:first-child a:before {
      display: none;
    }
  }
}
