body{
  font-size: 16px;
  font-family: $font-awesome;
}
a{
  text-decoration: none;
  color: darkgrey;
  &:hover,
  &:visited,
  &:active{
    color: $color-fonts;
  }
}

.enlace__activo{
  background-color: $color-primary;
  color: white !important;
}

#alenta,
#consultorios,
#areas,
#cirugias,
#hotel,
#contactenos,
#localizacion,
#proyecto,
#etapa1,
#etapa2,
#etapa3,
#promotores,
#contactenos,
#contacto {
  box-sizing: border-box;
  height: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: -5rem;
}

.hide {
  display: none;
}
