// Colores
$white: #fff;
$grey: #808080;
$color-primary: #0079C0;
$color-secondary: rgb(39,198,193);
$color-fonts: darkgrey;
$color-hover: #1BA991;
$background-color-topnav: rgba(0,0,0,0.2);
$background-color-container: #E4E4E4;
$height-navbar: 64px;
$height-navbar-little: ($height-navbar)-16px;


%placeholder {
  ::-webkit-input-placeholder {
    color: $white;
  }

  :-moz-placeholder {
    color: $white;
  }

  ::-moz-placeholder {
    color: $white;
  }

  :-ms-input-placeholder {
    color: $white;
  }
}

%boton {
  background-color: transparent;
  border: solid 1px $white;
  color: $white;
  padding: .3rem;
  text-align: center;
  @media (min-width: 992px) {
    padding: .5rem 2rem;
  }

  &:hover {
    color: $white;
    cursor: pointer;
    text-decoration: none;
  }

  &:visited,
  &:focus,
  &:active {
    color: $white;
    text-decoration: none;
  }
}
