// Colores
// Modificando Colores de MAterialize
$primary-color: #0079c0;
$secondary-color: rgb(39, 198, 193);

.waves-effect {
  &.waves-green .waves-ripple {
    background-color: $secondary-color;
  }
}

// Colores propios
$color-fonts: #a9a9a9;
$color-hover: #1ba991;
$background-color-topnav: rgba(0, 0, 0, .2);
$background-color-container: #e4e4e4;
$white: #fff;
$grey: #808080;
$height-navbar: 64px;
$height-navbar-little: ($height-navbar)-16px;

%placeholder {
  ::-webkit-input-placeholder {
    color: $white;
  }

  :-moz-placeholder {
    color: $white;
  }

  ::-moz-placeholder {
    color: $white;
  }

  :-ms-input-placeholder {
    color: $white;
  }
}

%boton {
  background-color: transparent;
  border: solid 1px $white;
  color: $white;
  padding: .3rem;
  text-align: center;
  @media (min-width: 992px) {
    padding: .5rem 2rem;
  }

  &:hover {
    color: $white;
    cursor: pointer;
    text-decoration: none;
  }

  &:visited,
  &:focus,
  &:active {
    color: $white;
    text-decoration: none;
  }
}
